.title-image {
    width: 40px !important;
}

a {
    color: rgb(22, 149, 199) !important;
    font-weight: 700;
    font-size: 17px !important;
}

.header-title {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}


#answers {
    padding-left: 50px;
    margin: 25px 0px;
}

#answer-title {
    border-bottom: 0.5px solid gray;
    margin-bottom: 15px !important;
    padding-bottom: 8px;
}




/* signUp  section start*/

#signup .signup-main {
    width: 50% !important;
    margin: 0px auto;
}

/* signUp  section end*/



/* ---------------------------------------
Responsive Section
--------------------------------------- */

/* ========= Laptop Device ========== */

@media (min-width: 992px) {}

/* ========= Tablet Device ========== */

@media (max-width: 992px) {

    #signup .signup-main {
        width: 100% !important;
        margin: 0px auto;
    }


}



/* ========= Mobile Device ========== */


@media (max-width: 767px) {

    /* signUp  section start*/

    #signup .signup-main {
        width: 96% !important;
        margin: 0px auto;
    }

    /* signUp  section end*/



}